<div class="bg-dark " style="width: 90%;  position: relative; padding: 10px; min-height: 42px; border-radius: 0px 25px 25px 0px;">
  <span style="font-size: 32px; color: white;">Movie Viewer</span>
  <span style="position: absolute; right: 20px; top: 1px;">
    <app-search></app-search>
  </span>
</div>
<div class="row" style="margin-top: 2px;">
    <span>
        <app-mostpopular></app-mostpopular>        
    </span>
    <span style="padding-left: 20px;">
        <router-outlet></router-outlet>
    </span>
</div>