.example-form {
    min-width: 280px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
      min-width: 260px;
      color: white;
  }
  .mat-form-field {
    margin: 0px !important;
    padding: 0px !important;
  }
  .mat-focused .mat-form-field-label {
    /*change color of label when focused*/
    color: white !important;
    background-color: #343a40!important;
   }
   ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    color: beige;
}
::placeholder {
    color: beige;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: beige;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: beige;
  }